*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:Arial, Helvetica, sans-serif;
    
}
a{
    color: white;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}
.header .sticky{
    border-bottom: 5px solid rgba(0,0,0,.2);
}
.logo{
    font-size: 25px;
    cursor: default;
    font-weight: 600;
}
.navbar a{
     font-size: 20px;
     margin-left: 50px;
}
.navbar a:hover{
    color:#00e5e5;
    text-decoration: underline;
    
}
#menu-icon{
   font-size: 25px;
    display: none;
}
.home-image img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: fill;
    box-shadow: 0px 0px 15px 10px #00e5e5;
    margin-left: 50px;
   
}
section{
    min-height: 100vh;
    width: 100%;
    padding: 120px 9%;
    color:white;
    background-color: rgb(15, 11, 11);
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 11, 11);
    background-color: black;
}
.home-contant h3{
    font-size: 30px;
    font-weight: 700;
}
h3 span{
    color:#00e5e5 ;
}
.home-contant h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 65px; 
    color: #00e5e5;
}
.home-contant p{
    margin-top:20px ;
    font-size: 18px; 
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size:  30px;
    color:#00e5e5;
    padding: 10px;
    background: transparent;
    border: 2px solid #00e5e5;
    border-radius: 50%;
    margin: 30px 8px;
    transition: .5s ease;

}
.social-media a:hover{
    box-shadow: 0 0 10px #00e5e5;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #00e5e5;
    border-radius: 20px;
    color: black;
    background-color:#00e5e5 ;
    font-size: 15px;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: 0 0 10px #00e5e5;
}


.about-img img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    object-fit: fill;
    box-shadow: 0px 0px 15px 10px #00e5e5;
    margin-left: 50px;
   
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:70px;
}
h2 span{
    color:#00e5e5 ;
}
.heading{
    text-align: center;
    font-size: 40px;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 25px;
}
.about-content p{
    font-size: 15px;
    margin:20px 0;
}
.portfolio{
    background-color: black;
}
.portfolio h2{
     margin-bottom: 30px;
}
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:25px;
}
.portfolio-container .portfolio-box{
    position:relative;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    height: 230px;
    width: 100px;
    object-fit: fill;
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
       transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(rgba(0,0,0,.1),#00e5e5);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   padding: 0 40px;
   transform: translateY(100%);
   transition: 1s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 30px;
}
.portfolio-layer p{
    font-size: 15px;
    margin: 10px 0 10px;
}
.portfolio-layer a{
    display: inline-flex;
    justify-items: center;
    align-items: center;
    padding: 18px;
    background:white;
    border-radius: 50%;
    text-align: center;
}
.portfolio-layer a i{
    font-size: 20px;
    color: black;
}
.contact h2{
    margin-bottom:30px;
    text-align: center;
}
.contact form{
    max-width: 700px;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 30px;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 20px;
    font-size: 15px;
    color:white;
    background: black;
    border-radius: 10px;
    margin: 10px 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
form .btn{
    margin-top: 20px;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 9%;
    background-color: gray;
}
.footer-text p{
    font-size: 16px;
}
.footer-iconTop a{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #00e5e5;
    border-radius: 8px;
    transition: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 10px #00e5e5;
}
.footer-iconTop a i{
   font-size: 24px;
color:black;
}


/* *********************************Media Query********************************************* */
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
    
}
@media(max-width:999px){
    .header{
       padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    /* .portfolio{
        margin-bottom: 70px;
    } */
    .footer{
        padding: 2rem 3%;
    }
    
}
@media(max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: black;
        border-top: 1px solid rgba(0,0,0,0.2);
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        display: none;
    }
    .navbar.active{
         display: block;
    }
    .navbar a{
        display: block;
        font-size: 20px;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-contant h3{
        font-size: 26px;
    }
    .home-contanth1{
        font-size: 50px;
    }
    .home-image img{
        margin-top: 40px;
        height: 350px;
        width: 350px;
        margin: 20px;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about img{
        margin-top: 40px;
        height: 350px;
        width: 350px;
        margin: 20px;
    }
   /* .portfolio{
    margin-bottom: 30px;
   } */
   .portfolio-container{
    grid-template-columns: repeat(2,1fr);
   }
}
@media(max-width:617px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}
@media(max-width:365px){
    .home-image img{
        width: 90vw;
        height: 250px;
        width: 250px;
        margin: 20px;
    }
    .about-img img{
        width: 90vw;
        height: 250px;
        width: 250px;
        margin: 20px;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 20px;
    }
}